:root {
   --header-color: #2C2C2C;
   --header-btn: rgba(0, 217, 255, 0.911);
   --main-btn: #37EBED;
   --icon-blue: #4EAAFD;
   --icon-orange: #FD955D;
   --icon-green: #37EF8D;
   --secondary-btn: #0181F5;
   --pricing-basic: #E9F4FE;
   --pricing-team: #FEF4EE;
   --pricing-bus: #ecfce8;
   --footer-bck: #1F1F1F;
   --footer-icon: #565656;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.5;
  position: relative;
}
button {
  font-family: "Poppins", sans-serif;
}
