.heading {
    font-size: 3rem;
}
.container {
    padding: 0 3rem;
}
.text {
    font-size: 1.4rem;
}
.main__content {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.main {
    background-position: bottom;
}
.main__image {
    width: 50%;
    max-width: 280px;
    margin: 0;
}
.main__article {
    width: 35%;
    margin-top: 4rem;
}
.main__heading {
    font-size: 2.8rem;
}
.option__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    width: 90%;
    margin: 4rem auto 0;
}
.option__heading {
    font-size: 2.8rem;
    width: 30%;
    margin: 0 auto;
}
.option {
    margin-top: 13rem;
}
.option__content {
    width: 33.3%;
}
.option__text {
    padding: 0 4rem;
}
.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.features__content {
    width: 35%
}
.features__image-container {
    width: 40%;
    max-width: 350px;
    margin: 0;
}
.features__button {
    margin-top: 3rem;
}
.background-review {
    margin-top: 10rem;
}
.background-review__heading {
   width: 40%;
   margin: 0 auto;
}
.background-review__text {
    margin-top: 7rem;
    padding: 0 12rem;
}
.pricing {
    margin-top: 12rem;
}
.pricing__text {
    width: 60%;
    margin: 2rem auto 0;
}
.pricing__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 4rem auto;
}
.pricing__basic {
    flex: 1;
}
.pricing__team {
    flex: 1;
}
.pricing__business {
    flex: 1;
}
.pricing__list-item {
    font-size: 1.4rem;
}